fix broken DTSTART value type for DATE values

Lines like

    DTSTART:20140612

are invalid, because `20140612` is a `DATE` value type, whereas [`DTSTART`'s default value type is `DATE-TIME`](http://tools.ietf.org/html/rfc5545#section-3.8.2.4).

http://icalvalid.cloudapp.net/ says

    The value appears to be a 'date' value, but 'VALUE=DATE' was not specified.

    Add a 'VALUE=DATE' parameter to the date-time value. See RFC 5545 section 3.3.5 for details.

but actually [section 3.8.2.4. of the RFC](http://tools.ietf.org/html/rfc5545#section-3.8.2.4) is far more informative about this.

We don't touch DTSTART entries anymore. If this is still valid (and I can see some of that in my files...) then it's a bug in what generates the original ics bits in the mails (likely groupwise). So WONTFIX for us :/

Why WONTFIX?  Wouldn't it be worth working around Groupwise brokenness, given that's the main use case for us?

Does it actually break anything for you? If yes, then okay, I can add the workaround. But if not, then I'd prefer to not have to deal with it since I don't want to accumulate unneeded workarounds in there.

I would have thought it did, otherwise there would be no good reason for me to report it ... but I can't remember what.

@aspiers ah well. I've added the workaround for now. I do have events with that bug, and it didn't impact me, fwiw.

Thanks! :)

Thinking about this a bit more, I *guess* it would break all-day events, but ICBW.